# Binaries
shelllm_server

# Dependencies (Platform-specific)
onnxruntime-*/
onnxruntime-*.tgz
lib/*/
include/lancedb.h

# Runtime files
src/internal/all_minilm/model.onnx
*.socket
/tmp/shelllm.vlog
/tmp/shelllm.socket
/tmp/shelllm.history.socket
/tmp/shelllm.query.socket
/tmp/testdb/

# OS-specific
.DS_Store
