# Binaries
shelllm_server
shelllm-daemon
slm

# Dependencies (Platform-specific)
onnxruntime-*/
onnxruntime-*.tgz
lancedb.tar.gz
lib/
include/lancedb.h

# Runtime files
src/internal/all_minilm/model.onnx
*.socket
/tmp/shelllm.vlog
/tmp/shelllm.socket
/tmp/shelllm.history.socket
/tmp/shelllm.query.socket
/tmp/testdb/

# OS-specific
.DS_Store

.env